In [120]:
import pandas as pd

In [123]:
dataset=pd.read_csv('../Predic/static/dataset_recent/cirrhosis_df.csv')

In [124]:
dataset

,ID,Status,Age,age,Bilirubin,Cholesterol,Albucin,copper,Alk_Phos,SGOT,Tryglicerimes,Platelets,Prothrombin,Stage,Sex
0,1,0,21464,58,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0,0
1,2,1,20617,56,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0,0
2,3,0,25594,70,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0,1
3,4,0,19994,54,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0,0
4,5,1,13918,38,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,414,0,24472,67,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0,0
414,415,1,14245,39,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,4.0,0
415,416,1,20819,57,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,3.0,0
416,417,1,21185,58,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,3.0,0
417,418,1,19358,53,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,4.0,0

In [125]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             418 non-null    int64
 1   Status         418 non-null    int64
 2   Age            418 non-null    int64
 3   age            418 non-null    int64
 4   Bilirubin      418 non-null    float64
 5   Cholesterol    285 non-null    float64
 6   Albucin        418 non-null    float64
 7   copper         310 non-null    float64
 8   Alk_Phos       312 non-null    float64
 9   SGOT           312 non-null    float64
 10  Tryglicerimes  282 non-null    float64
 11  Platelets      407 non-null    float64
 12  Prothrombin    416 non-null    float64
 13  Stage          412 non-null    float64
 14  Sex            418 non-null    int64
dtypes: float64(10), int64(5)
memory usage: 49.1 KB

In [126]:
dataset.isnull().sum()

ID                 0
Status             0
Age                0
age                0
Bilirubin          0
Cholesterol      133
Albucin            0
copper           108
Alk_Phos         106
SGOT             106
Tryglicerimes    136
Platelets         11
Prothrombin        2
Stage              6
Sex                0
dtype: int64

In [127]:
# Drop rows with missing values
dataset = dataset.dropna()

In [128]:
dataset.columns

Index(['ID', 'Status', 'Age', 'age', 'Bilirubin', 'Cholesterol', 'Albucin',
       'copper', 'Alk_Phos', 'SGOT', 'Tryglicerimes', 'Platelets',
       'Prothrombin', 'Stage', 'Sex'],
      dtype='object')

In [129]:
y=dataset['Status']

In [130]:
y

0      0
1      1
2      0
3      0
4      1
      ..
307    1
308    1
309    1
310    1
311    1
Name: Status, Length: 276, dtype: int64

In [131]:
x = dataset[['age','Bilirubin','Cholesterol','Albucin','Tryglicerimes','Platelets','Prothrombin','Stage','Sex']]

In [132]:
x

,age,Bilirubin,Cholesterol,Albucin,Tryglicerimes,Platelets,Prothrombin,Stage,Sex
0,58,14.5,261.0,2.60,172.0,190.0,12.2,4.0,0
1,56,1.1,302.0,4.14,88.0,221.0,10.6,3.0,0
2,70,1.4,176.0,3.48,55.0,151.0,12.0,4.0,1
3,54,1.8,244.0,2.54,92.0,183.0,10.3,4.0,0
4,38,3.4,279.0,3.53,72.0,136.0,10.9,3.0,0
...,...,...,...,...,...,...,...,...,...
307,61,0.4,246.0,3.58,113.0,288.0,10.4,2.0,0
308,58,0.4,260.0,2.75,82.0,231.0,10.8,2.0,0
309,62,1.7,434.0,3.35,100.0,234.0,10.2,2.0,0
310,38,2.0,247.0,3.16,88.0,335.0,10.5,2.0,0
311,33,6.4,576.0,3.79,149.0,200.0,10.8,2.0,0

In [133]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [134]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,stratify=y,random_state=2)
# Initialize the RandomForestClassifier
clf = RandomForestClassifier(random_state=42)

In [135]:
print(x_train.shape,x_test.shape,x.shape)

(165, 9) (111, 9) (276, 9)

In [136]:
clf.fit(x_train, y_train)

RandomForestClassifier(random_state=42)

In [137]:
from sklearn.metrics import accuracy_score

In [138]:
# To know the accurecy of train data
x_train_prediction=clf.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [139]:
print("Accurracy on Test data :",training_data_accuracy)

Accurracy on Test data : 1.0

In [140]:
#x = dataset[['age','Bilirubin','Cholesterol','Albucin','Tryglicerimes','Platelets','Prothrombin','Stage','Sex']]
prep=clf.predict([[53,0.3,280,4,189,373,11,3,0]])
print(prep)

[0]

c:\Predic\.venv\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [141]:

import pickle

In [145]:
with open('classification.pkl','wb') as files:
    pickle.dump(clf,files)